.mainContainer {
  text-align: center;
  border-collapse: collapse;
  line-height: 0%;
}

.main-bar {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  margin-right: 0;
  margin-left: 0;
}

.main-button {
  width: 20%;
  height: 50%;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-family: cursive;
}
.run-button {
  width: 10%;
  height: 100%;
  margin-top: 0.8%;
}

.social-pic {
  width: 7.5%;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.devop {
  width: 15%;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.developed {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: smaller;
  color: #00ffff;
}

.btn {
  width: 100%;
  height: 100%;
}

.dropdown-toggle {
  float: right;
}

.dropdown-menu {
  background-color: #282c34;
  min-width: 7rem;
}

.dropdown-item {
  border-radius: 50px;
  color: white;
}

.dropdown-item:hover {
  background-color: #00acc1;
}

.info {
  text-align: left;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  /* background-color: rgba(0, 0, 0, 0.609); */
  color: #00ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.linkedin-img {
  height: 60px;
  width: 60px;
}

.github-img {
  height: 60px;
  width: 60px;
}

.small-maze {
  height: 15px;
  width: 15px;
  display: inline-block;
  line-height: 0;
}

.big-maze {
  height: 24px;
  width: 24px;
  display: inline-block;
  line-height: 0;
}

.col-sm-12 {
  width: 100%;
  margin-top: 1%;
}

.space-node {
  display: inline-block;
  outline: 1px solid rgb(175, 216, 248);
  background-color: rgba(255, 255, 255, 0.192);
  /* background-color: rgba(255, 102, 0, 0.171); */
}

.wall-node {
  display: inline-block;
  /* background-color: #00000000; */
  background-color: #000000;
}

.visit-node2 {
  display: inline-block;
  line-height: 0;
  outline: 1px solid rgb(175, 216, 248);
  background-color: #00ffff;
}

.visit-node {
  display: inline-block;
  line-height: 0;
  outline: 1px solid rgb(175, 216, 248);
  transform-box: fill-box;
  transform-origin: center;
  background-color: #00ffff;
  animation: scale-up;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes scale-up {
  0% {
    background-color: #bde6e6;
  }
  30% {
    background-color: #86dada;
  }
  60% {
    background-color: #1fd8d8;
  }
  100% {
    background-color: #00ffff;
  }
}

.path-node {
  display: inline-block;
  line-height: 0;
  outline: 1px solid rgb(175, 216, 248);
  background-color: #00fa9a;
}

.start-node {
  display: inline-block;
  line-height: 0;
  outline: 1px solid rgb(175, 216, 248);
  background-color: rgb(0, 250, 0);
  background-image: url("../../images/s.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.target-node {
  display: inline-block;
  line-height: 0;
  outline: 1px solid rgb(175, 216, 248);
  background-color: red;
  background-image: url("../../images/the-end-36240.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1450px) {
  .info-font {
    font-size: small;
  }
}

@media (max-width: 1250px) {
  .main-button {
    /* width: 7%; */
    height: 50%;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-family: cursive;
  }
  .btn {
    width: 100%;
    height: 100%;
    font-size: xx-small;
  }

  .social-pic {
    /* width: 4%; */
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .linkedin-img {
    height: 40px;
    width: 40px;
  }

  .github-img {
    height: 40px;
    width: 40px;
  }
  .devop {
    /* width: 7%; */
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
  }

  .developed {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: xx-small;
    color: #00ffff;
  }

  .info {
    text-align: left;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #00ffff;
    font-family: cursive;
  }
  .info-font {
    font-size: xx-small;
  }
}

/* -------------------------------------------------------------------------------------- */
#menu {
  width: 65%;
  height: unset;
  display: inherit;
}

.hamburger-menu {
  display: none;

  margin: 10px 10px 10px 10px;
}

* {
  margin: 0;
  padding: 0;
}

#hamburger-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  float: right;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #61dafb;

  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),
#hamburger-icon span:nth-child(3) {
  top: 14px;
}

#hamburger-icon span:nth-child(4) {
  top: 28px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: 850px) {
  .main {
    height: 55px;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu menu {
    height: 0px;
  }

  #hamburger-icon.open menu {
    height: 450px;
  }

  #menu {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    /* bottom: 55px; */
    right: 0px;

    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    background-color: #282c34;
    padding-top: 10px;
    display: unset;
  }

  #menu.op {
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    background-color: #282c34;
    padding-top: 10px;
  }

  .run-button {
    width: 25% !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .main-button {
    height: 40px;
    width: 100%;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 20px 0px 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .info {
    text-align: left;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* background-color: rgba(0, 0, 0, 0.609); */
    color: #00ffff;
    font-family: cursive;
  }
  .info-font {
    font-size: xx-small;
  }

  .devop {
    width: 90% !important;
    margin: 10px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .developed {
    font-size: small !important;
  }
  .social-pic {
    width: 40%;
    display: inline;
    margin: 10px 10px 10px 10px;
  }
}
